<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @outfit.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @outfit.start_time %>
</p>

<%= link_to 'Edit', edit_outfit_path(@outfit) %> |
<%= link_to 'Back', outfits_path %>
