<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.file_field :image_url %>
  </div>

  <div class="field">
    <%= form.label :caption %>
    <%= form.text_field :caption %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.select :phone_type, options_for_select([["Select One", ""], post.tag_list[0], post.tag_list[1], post.tag_list[2], post.tag_list[3]]), :class => 'genForm_dropBox' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
